.login
{
  margin-left: 350px;
    display: flex;
    border-radius: 20px;
    width: 50vw;
    height: 50vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px 5px gray;
    background: white;
    position: relative;
    padding-top: 5px;
    margin-top: 10px;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
    width: 50%;
    outline: none;
    border-radius: 20px;
    
   
  }
  input:focus {
    background-color:whitesmoke;
  }

.login>.button
{
    border: 1px solid rgb(3, 39, 37);
    padding: 0.5rem;
    margin: 0.5rem 0;
    width: 19rem;
    cursor: pointer;
    outline: none;
    font-size: 1rem;
    color: white;
    background:lightslategray;
    border-radius: 8px;
}